@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-fade-in {
  animation: fadeInScale 1s ease-out;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
  transition: opacity 1s ease-in-out;
}

.scrollbar-hover::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-hover::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 3px;
}

/* 폰트 */
body {
  font-family: 'Pretendard-Thin', sans-serif;
}

.font-Logo {
  font-family: 'ANDONG264TTF', sans-serif;
}

@font-face {
  font-family: 'ANDONG264TTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2502-1@1.0/ANDONG264TTF.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Thin';
  src: url('/fonts/Pretendard-Thin.otf') format('opentype');
  font-weight: 200;
}
