@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
  transition: opacity 1s ease-in-out;
}

.scrollbar-hover::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-hover::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 3px;
}